@font-face {
    font-family: 'Spartan';
    src: url('fonts/leaguespartan-bold.eot'),
    url('fonts/leaguespartan-bold.woff') format('woff'),
    url('fonts/leaguespartan-bold.ttf') format('truetype'),
    url('fonts/leaguespartan-bold.svg') format('svg');
}

body {
    margin: 0;

}

.infotext {
    font-family: 'Spartan', sans-serif;
    margin-left: 2px;
}

.logotekst {
    width: 300px;
}

.box p {
    max-width: 600px;
    text-align: center;
    margin: .25rem;
    padding: .25rem;
}

.box.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
}

.box1 p {
    max-width: 600px;
    text-align: center;
    margin: .25rem;
    padding: .25rem;
}

.box1.flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'Spartan', sans-serif;
    background-color: #4CAF50;
    border: none;
   
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: white;
    color: black;
    border: 4px solid black;
}

.button5:hover {
    background-color: black;
    color: white;
}
#bar{
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
}
#bar:hover{
    fill: purple;
    
}
textinfo2{
   font-size: 16px;
}
.snapchat{
    width: 200px;
    margin: 10px;
}